//Ta bort sedan
/*$h1Font: "Rubik Bubbles", sans-serif;
$h2-3Font: "Rubik Bubbles", sans-serif;
$h4-6Font: "Rubik Mono One", sans-serif;
$bodyText: "Rubik", sans-serif;
//color-variabels
$lightBeige: #F7ECDE;
$beige: #E9DAC1;
$ligthTeal: #54BAB9;
$darkTeal: #18978F;
$red: #B7433B;
$almostBlack: #212427;*/

@use 'variables' as var;


.h2_paragraph_section {
    background-color: $lightBeige;
    padding: 0.8125rem 0.875rem;
    height: 1250px;
    margin: 35px 0;

}
.h2_paragraph_section h2 {
    font-family: $h2-3Font;
    font-size: 2.5rem;
    letter-spacing: 5%;
    font-weight: 400;
    margin: 0;
    color: $almostBlack;
}
.h2_paragraph_section p {
    width: 341px;
    font-family: $bodyText;
    letter-spacing: 0.1rem;
    line-height: 200%;
    color: $almostBlack;
}
.h2_paragraph_section img {
    position: absolute;
    right: 0;
    top: 1085px;
}
.h2_paragraph_section div {
    width: 21.438rem;
    height: 13.25rem;
    padding-left: 18px;
    background-color: rgba($color: #ffffff, $alpha: 0.6);
    position: absolute;
    z-index: 3;
    margin-top: 30px;
    border-radius: 15px;
}
.h2_paragraph_section h4 {
    font-family: $h4-6Font;
    font-weight: 400;
    font-size: 0.9375rem;
    color: $almostBlack;
}
.h2_paragraph_section input {
   border: 3px solid $ligthTeal;
   width: 249px;
   height: 45px; 
   border-radius: 10px;
   padding-left: 5px;
   background-color: $lightBeige;
   &:focus {
        background-color: #ffffff;
    }
}
.h2_paragraph_section button {
    background-color: $ligthTeal;
    border: none;
    border-radius: 20px;
    height: 47px;
    width:163px;
    margin: 20px 0 17px 0;
    font-family: $h4-6Font;
    color: $almostBlack;
    font-family: 'Rubik Mono One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &:hover {
        background-color: $darkTeal;
    }
    &:active{
        background-color: $darkTeal;
        box-shadow: none;
    }
}
