
@use 'variables' as var;

.main__extraspace{
    height: 60px;
}

.section__hero-img__H1{
    background: url('/images/headerimage_mobile.webp');
    height: 163vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.h1__section__div{
    display: flex;
    position: relative;
}

.h1__wheatly{
    font-family: $h1Font; 
    font-weight: 300;
    color: $darkTeal;
    font-size: 3.7rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-top: 140px;
    bottom: 80px;
    margin-left: 24%;
    position: relative;
    display: inline-block;
}

.h1__span {
    color: black;
    font-size: 5.5rem;
    position: absolute;
    left: -60px;
    bottom: 8px;
}

.section__hero-img__H1__hidden-p{
    visibility: hidden;
}

@media only screen and (min-width: $tablet-bp) {

    .main__extraspace{
        width: 100%;
        height: 210px;
        background-color: $lightBeige;

    }

    .section__hero-img__H1{
        background: url('/images/headerimage_tablet.webp');
        height: 86.7vw;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .section__hero-img__H1__hidden-p{
        visibility: visible;
        font-family: $bodyText;
        text-transform: uppercase;
        text-align: right;
        position: relative;
        right: 70px;
        bottom: 240px;
    }

    .h1__wheatly{
        font-size: 7.5rem;
        bottom: 150px;
    }
    
    .h1__span {
        font-size: 11rem;
        left: -120px;
        bottom: 25px;
    }
}


@media only screen and (min-width: $desktop-bp) {

    .main__extraspace{
        height: 260px;
    }

    .section__hero-img__H1{
        background: url('/images/headerimage_desktop.webp');
        height: 61.5vw;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .section__hero-img__H1__hidden-p{
        font-size: 1.8rem;
        left: -200px;
        bottom: 320px;
    }

    .h1__wheatly{
        font-size: 13rem;
        bottom: 155px;
        left: 50px;
    }
    
    .h1__span {
        font-size: 19rem;
        left: -185px;
        bottom: 30px;
    }
}