
.section__hero-img__H1{
    background: url('/images/headerimage_mobile.jpg');
    width: 100vw;
    height: 163vw;
    //background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.h1__section__div{
    display: flex;
    position: relative;
}

.h1__wheatly{
    font-family: $h1Font; 
    color: $darkTeal;
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
    margin-top: 50px;
}

.h1__wheatly::first-letter {
    color: black;
    font-size: 5.1rem;
    letter-spacing: -0.5rem;
    vertical-align: 1rem;
}

.section__hero-img__H1__hidden-p{
    visibility: hidden;
}

@media screen and (min-width: 744px) {
    .section__hero-img__H1{
        background: url('../../public/images/headerimage_tablet.jpg');
        width: 100vw;
        height: 86.7vw;
        //background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}


@media screen and (min-width: 1440px) {
    .section__hero-img__H1{
        background: url('../../public/images/headerimage_desktop.jpg');
        width: 100vw;
        height: 61.5vw;
        //background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}