@use 'variables' as var;

* {
    box-sizing: border-box;
}

/* * {
  outline: 1px solid #f00 !important; // Turn on to see layout and overflowing containers better
} */

body {
    background-color: var.$lightBeige;
}

h1 {
    color: red;
    font-family: var.$h1Font;
}