//typovaribles
$h1Font: "Rubik Bubbles", sans-serif;
$h2-3Font: "Rubik Bubbles", sans-serif;
$h4-6Font: "Rubik Mono One", sans-serif;
$bodyText: "Rubik", sans-serif;

//color-variabels
$lightBeige: #F7ECDE;
$beige: #E9DAC1;
$ligthTeal: #54BAB9;
$darkTeal: #18978F;
$red: #B7433B;
$almostBlack: #212427;

//breakpoints
$mobile-bp: 375px;
$tablet-bp: 744px;
$desktop-bp: 1440px;