@use '/src/style/variables' as var;

/* * {
  outline: 1px solid #f00 !important; // Turn on to see layout and overflowing containers better
} */

:root {
    font-size: rem(16px);
}

.cookiebanner{
    position: fixed;
    bottom: 0px;
    background-color: var.$lightBeige;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 3px solid black;

    p{
        font-family: var.$bodyText;
        font-size: 0.875rem;
        letter-spacing: 1.2px;
    }
}





//*****************************************************************************************
//---------------------------------- Media query Tablet -----------------------------------
//*****************************************************************************************

@media only screen and (min-width: var.$tablet-bp) {

}

//*****************************************************************************************
//---------------------------------- Media query Desktop -----------------------------------
//*****************************************************************************************

@media only screen and (min-width: var.$desktop-bp) {

}